body {
  font-family: var(--font-family-base);
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  &:hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

button {
  padding-inline: 0;
  background-color: transparent;
  border: none;
}
